                  /*Header*/
h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;


}
.header {
  display: inline-flex;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  align-items: center;
  background-color: white;
}
.logo, h1 {
border: 1px solid black
}

              /*Main Content*/
.main {
  position: relative;
  top: 100px;
  display: inline-flex;
  width: 1170px;
  border: 1px solid black
}
.monument, .orca, .burger, .fbi, .brooklyn, .bites {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
                /*Column1*/
.column1 {
  display: inline-flex;
  width: 630px;
  flex-direction: column;
  border: 3px solid black

}
.storymain {
  display: inline-flex;
}
.mother {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  font-family: Georgia;
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  bottom: 300px;

}
.monument {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  position: relative;
  bottom: 145px;
}
.story2 {
  border: 2px solid green
}
.story3 {
  position: relative;
  bottom:319px;
  left: 318px;

}
.story3, .story2 {
  display: flex;
  flex-direction: row;
  width: 315px;

}
.earth {

  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: relative;
  bottom: 630px;
  border: 1px solid black
  width: 300px;
  margin: 0 auto;
}
.orca {
  border: 2px solid black

}

.burger {
  border: 2px solid black
}
.camera {
  border: 2px solid green

}
.camera2 {
  position: relative;
  bottom: 320px;
  left: 320px;
}
.camera2, .camera {
  display: flex;
  flex-direction: row;
  width: 315px;
}
.research {
  border: 1px solid black;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: relative;
  bottom: 630px;
  width: 500px;
  margin: 0 auto;
}
                /*Column2*/
.column2 {
  display: inline-flex;
  width: 300px;
  flex-direction: column;
  border: 1px solid black
}
.cats {
  border: 1px solid black
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: relative;
  bottom: 300px;
  width: 300px;
  margin: 0 auto;
}
.catlove{
  display: inline-flex;
}
.fbi {
  border: 2px solid black
}
.brooklyn {
  border: 2px solid black
}
                /*Column3*/
.column3 {
  display: inline-flex;
  width: 240px;
  flex-direction: column;
  border: 1px solid black
  position: relative;
  left: 50px;
}
.cookie {
  border: 1px solid black
}
